# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# Frontend
frontend/node_modules/
frontend/dist/



# Temporary files
*.tmp
*.temp
